<div class="settings-display has-text-centered">
  <span *ngIf="isTimer">
    <span *ngIf="!clockSettings.timeCap">
      TIMER
    </span>
    <span *ngIf="clockSettings.timeCap">
      {{clockSettings.timeCap | time}} {{clockSettings.timerDirection == 'Up' ? 'TIMER' : 'COUNTDOWN'}}
    </span>
  </span>
  <span *ngIf="!isTimer">
    {{clockSettings.numRounds | i18nPlural: roundsPluralization}},
    <span>
      {{clockSettings.workTime | time}} WORK,
    </span>
    <span *ngIf="hasRest">
      {{clockSettings.restTime | time }} REST
    </span>
    <span *ngIf="!hasRest">
      NO REST
    </span>
  </span>
</div>
