<div class="hero is-dark">
  <div class="columns">
    <div class="column is-2">
      <div>
        <a class="button is-large" (click)="startTimer()">Start timer!</a>
      </div>
      <div>
        <a class="button is-large" (click)="startAmrap()">Start AMRAP!</a>
      </div>
    </div>
    <div class="column auto">
      <div class="hero is-fullheight is-dark">
        <div>
            <div>
                <app-round-display class="column" [currentStep]="timerService.currentStep"></app-round-display>
                <app-stopwatch class="column" [timer]="timerService.currentTime"></app-stopwatch>
                <app-status-display class="column" [status]="timerService.currentStatus"></app-status-display>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>