<div class="hero is-dark">
  <div class="columns hero is-fullheight is-dark is-gapless">
    <div class="setup" *ngIf="!timerService.currentStep">
      <a class="button is-large" (click)="setup()">
        <span class="icon is-large">
          <i class="fa fa-wrench"></i>
        </span>
      </a>
    </div>
    <app-round-display class="column" [currentStep]="timerService.currentStep"></app-round-display>
    <app-stopwatch class="column" [timer]="timerService.currentTime" [isRunning]="timerService.running"></app-stopwatch>
    <app-status-display class="column" [status]="timerService.currentStatus"></app-status-display>
    <app-toolbar class="column" [status]="timerService.currentStatus" 
                 [isRunning]="timerService.running"
                 (start)="start()"
                 (stop)="stop()"
                 (pause)="pause()"
                 (resume)="resume()"
                 (clear)="stop()">
    </app-toolbar>
  </div>
</div>
<div class="modal" [ngClass]="{'is-active': isSettingsOpen}">
  <div class="modal-background"></div>
  <app-settings [(settings)]="currentSettings" (onclose)="isSettingsOpen=false"></app-settings>
</div>
